*{
  box-sizing: border-box;
}
nav{
  background-color: bisque;
}
nav ul li{
  list-style-type: none;
  display:inline-flex;
  justify-content: space-between;
  
}
nav a{
  text-decoration: none;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(100, 21, 21);
  font-weight: 550;
}
a:hover{
  text-shadow: 0 0 10px rgba(67, 59, 59, 0.692);
}
a:focus{
  text-decoration: underline;
}
.section-1 img{
  height: 300px;
  width: 300px;
}
.picture-1{
  padding-top: 20px;
  height: 300px;
  width: 400px;
  float: left;
  margin-right: 17px;
}
.picture-2{
  height: 300px;
  width: 400px;
  float: right;
  margin-left: 17px;
}

[data-popover] {
  position: relative;
}
[data-popover]::after {
  content: attr(data-popover);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 124);
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  margin: 10px;
}
[data-popover]::before {
  content: " ";
  height: 10px;
  width: 20px;
  border-bottom: 10px solid rgb(255, 255, 124);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 15px;
  left: 0;
  display: none;
}
[data-popover]:focus::after,
[data-popover]:focus::before {
  display: block;
}
.section-4{
  height: 300px;
  max-width: 300px;
}
.section-4 img{
  height: 300px;
  width: 300px;
  border-radius: 18px;

}
.section-4 p{
  text-align: center ;
  color: rgb(74, 62, 62);
  font-size: 20px;
  padding-bottom: -8px;
}
.section-4 p:hover{
  text-shadow: 0 0 10px;
}